/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,500,700|Roboto:100,300,400,500,700&display=swap');
$body-font: 'Poppins';
$heading: 'Poppins';

/*=========
Color Code
===========*/
$body-color: #6e7689;
$base-color: #ff4800;
$color-2: #061844;

